#screen-bg {
	z-index : 0;
}

#screen-scene {
	z-index: 1;
}

#screen-character {
	z-index: 2;
}

#dialog-dialogmode {
	z-index: 3;
}

#dialog-novelmode {
	z-index: 4;
}

#dialog-menu {
	z-index: 5;
}

#screen-start {
	z-index: 6;
}